.flex{
    display: flex;
    flex-wrap: nowrap;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center {
	align-items: center;
}

.space-around {
	justify-content: space-around;
}